#el-top {
  border-radius: 0;
  margin-bottom: 0;
}
#tel {
  font-weight: bold;
  color: #fff;
}
#tel i {
  font-size: 24px;
}
#topMenu a {
  font-weight: bold;
  color: #E8E3E3;
}
#topMenu a:hover {
  color: #3498DB;
  text-decoration: underline;
}
#topMenu .username1 {
  color: #337AB7;
}
#topMenu .username1:hover {
  text-decoration: none;
  color: #337AB7;
}
#lgtitle {
  height: 80px;
}
#lgtitle a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 70px;
}
#lgtitle a:hover {
  color: #1079C0;
}
#lgtitle #log {
  font: bold 20px/70px "微软雅黑";
  color: #337AB7;
}
/*特色部分*/
.el-feature {
  overflow: hidden;
  height: 80px;
  margin-top: 20px;
}
.el-feature .col-md-4 dl {
  padding-left: 80px;
}
.el-feature .col-md-4 dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}
.el-feature .col-md-4 dl dd {
  color: #999;
}
.el-feature .el-feature-item01 {
  background: url("../images/feature01.png") no-repeat;
}
.el-feature .el-feature-item02 {
  background: url("../images/feature02.png") no-repeat;
}
.el-feature .el-feature-item03 {
  background: url("../images/feature03.png") no-repeat;
}
#el-carousel {
  max-width: 1400px;
  margin: 0 auto;
}
.panel-heading {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.panel-heading span {
  display: block;
  max-width: 120px;
  font: bold 20px "微软雅黑";
  color: #2E8ECE;
  position: relative;
  bottom: -10px;
  left: -15px;
  border-bottom: 3px solid #2E8ECE;
}
.panel-heading a {
  top: -10px;
  position: relative;
}
.table1 th {
  font: bold 14px "微软雅黑";
  color: #999999;
}
.table1 td {
  color: #333;
}
.table1 td a {
  color: #333;
}
.table1 td a:hover {
  color: #2E8ECE;
}
footer {
  margin: 30px 0;
}
footer .row {
  margin: 30px 0;
}
footer .row p {
  font: 14px "微软雅黑";
  color: #333;
}
/* 登陆界面*/
#registerbtn {
  margin-left: 50px;
}
#small_title {
  margin: 10px 12%;
  font: bold 16px "微软雅黑";
  color: #999999;
}
#leftside .list-group {
  margin-bottom: 0;
}
#leftside #first,
#leftside #two,
#leftside #three,
#leftside #four,
#leftside #five {
  border: 1px solid #ddd;
  background: #F5F5F5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#leftside .list-group-item {
  border-top: 0;
}
#leftside .list-group-item .list-group-item:last-child {
  border-radius: 0;
}
#leftside #two,
#leftside #three,
#leftside #four {
  background: #F5F5F5;
  border-radius: 0;
  border-top: 0;
}
#rightside #img-box {
  padding: 15px;
  border: 1px solid #ddd;
}
#rightside #img-box #img {
  width: 72px;
}
#rightside .center-box {
  padding-bottom: 130px;
  border-bottom: 1px solid #ddd;
}
#rightside #pull-right {
  margin-left: 30px;
  font: 14px "微软雅黑";
}
#rightside #pull-right p {
  margin-bottom: 20px;
}
#rightside #row {
  margin: 8px 0;
  font: 20px "微软雅黑";
}
#rightside #row span {
  color: #337AB7;
}
#rightside #mybtn {
  margin: 10px;
  text-align: center;
}
#rightside .col-md-4 {
  margin-top: 10px;
  margin-bottom: 30px;
}
#rightside .col-md-4 p {
  font: 12px "微软雅黑";
}
#rightside .el-feature-item01 {
  font: 14px "微软雅黑";
  margin-left: 70px;
}
#rightside .el-feature-item01 dd {
  margin-top: 8px;
}
#rightside .el-feature-item01 dd a {
  margin-left: 5px;
}
#realAuth h5 {
  font: 14px "微软雅黑";
}
#realAuth .top-title {
  text-align: center;
  font: 14px "微软雅黑";
  color: #AE5B59;
}
#realAuth a button {
  margin-top: -35px;
}
#realAuth #panel-body {
  padding-top: 0;
}
#updataimg .col-md-4 {
  border: 1px solid #ccc;
  margin-left: 20px;
}
#updataimg .col-md-4 h5 {
  margin: 5px auto;
  font: 12px/20px "微软雅黑";
  text-align: center;
  background: #337AB7;
  color: #fff;
}
#updataimg .col-md-4 .innerbox {
  margin: 5px auto;
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
}
#seemore {
  position: absolute;
  left: 90%;
  bottom: 50%;
}
#recharge {
  padding: 40px 30px;
  background: #F4F8FA;
  border: none;
  border-left: 3px solid #3498DB;
  font: 14px "微软雅黑";
  color: #333;
}
#recharge h1 {
  font: 24px "微软雅黑";
  color: #3498DB;
}
#recharge p {
  margin-bottom: 10px;
}
#menulist {
  border: 1px solid #DDDDDD;
  border-top: 0;
}
#menulist h3 {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
#menulist #text {
  margin-left: 20px;
  font: 16px "微软雅黑";
}
#menulist .table {
  margin: 0 auto;
  width: 90%;
  font: 16px "微软雅黑";
}
#menulist .table .table-item01 {
  background: url("../images/bank_list.png") no-repeat;
}
#menulist .table .table-item02 {
  background: url("../images/bank_list.png") no-repeat 0 -32px;
}
#menulist .table .table-item03 {
  background: url("../images/bank_list.png") no-repeat 0 -108px;
}
#invest h4 {
  font: 18px "微软雅黑";
  margin: 0;
}
#invest .row {
  margin-top: 20px;
}
#invest .row h5 {
  font-family: "微软雅黑";
  color: #77778C;
}
#invest table {
  margin-top: 10px;
}
#invest table thead th {
  font: bold 14px "微软雅黑";
  color: #77778C;
}
#money .row {
  margin: 15px;
}
#money .row .col-md-4 {
  font: 20px "微软雅黑";
}
#money .row .col-md-4 span {
  color: #337AB7;
}
.el-borrow-form-tip {
  width: 300px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 20px #ddd;
  padding: 20px 30px;
  position: absolute;
  top: 10px;
  right: 350px;
}
.el-borrow-form-tip p {
  font: 12px "微软雅黑";
}
#borrow .col-md-4 {
  background: #F9F9F9;
  width: 30%;
  padding: 0;
  margin-right: 3%;
}
#borrow .col-md-4 header {
  margin: 0;
  background: #40D47E;
  color: #fff;
}
#borrow .col-md-4 header h3 {
  margin: 0;
  height: 40px;
  font-family: "微软雅黑";
  padding-left: 20px;
  line-height: 40px;
}
#borrow .col-md-4 header .item03 {
  background: #2CA2EE;
}
#borrow .col-md-4 header .item02 {
  background: #EC7E20;
}
#borrow .col-md-4 article h4 {
  font-family: "微软雅黑";
  margin: 15px 10px;
}
#borrow .col-md-4 article a {
  margin: 5px 10px;
}
#borrow .col-md-4 article p {
  font: 14px "微软雅黑";
  padding: 5px 10px;
  color: ;
}
#borrow .col-md-4 article ul {
  list-style: none;
}
#borrow .col-md-4 article ul P {
  padding: 0;
  margin-left: 20px;
}
#borrow .col-md-4 article ul li {
  background: url("../images/sequare.png") no-repeat;
}
#borrow .col-md-4 article button {
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  background: #00A8FF;
  border: none;
}
#borrow .col-md-4 article button a {
  text-decoration: none;
  color: #fff;
}
#borroeinfo p {
  margin: 0;
  font-family: "微软雅黑";
}
#borroeinfo #imgbox h5 {
  text-align: center;
}
#borrowcenter h3 {
  font-family: "微软雅黑";
  color: #3498DB;
}
#borrowcenter h3 small {
  margin-left: 10px;
}
#borrowcenter p {
  font-family: "微软雅黑";
}
#borrowcenter p span {
  padding-left: 30px;
  color: #09d;
}
#borrowright p {
  font-family: "微软雅黑";
}
#borrowright p span {
  padding-left: 30px;
  color: #09d;
}
#mytable #mytable {
  margin: 0;
}
#mytable #mytable td {
  border: 0;
  padding: 0;
}
#mytable #mytable td p {
  font-family: "微软雅黑";
}
#mytable #mytable td p span {
  padding-left: 10px;
  color: #09d;
}
